.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}
canvas {
    border-radius: 15px;
    border: 1px solid #333;
}
body {
    background-color: #111;
}

button {
    background-color: gray;
    border: none;
    color: white;
    border-radius: 0.25em;
    margin-top: 2em;
    padding: 0.25em;
    font-size: 2em;
}

button:active {
    background-color: darkgray;
}


#container {
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
    /* border: 1px solid red; */
}

.description {
    width: 80%;
    display: flex;
    border: 1px solid red;
}